# Auto detect text files and perform LF normalization
* text=auto

# ensure sh scripts have lf line endings
*.sh text eol=lf

# Ensure package shows as R language on GitHub
*.cc linguist-vendored
*.h linguist-vendored
